

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/************************************************* BODY *************************************************/

.container{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

/************************************************* HEADER *************************************************/

header{
    display: flex;
    flex-flow: row wrap;
    background-color: #252932;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100%;
}

/********************************* HEADER-1 *********************************/

    .element-header-1{
        flex: 1 1 auto; 
    }   

        .element-header-1 a{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
        }

        /*LOGO*/
        .element-header-1 img{
            width: 250PX;
            height: 100PX;
        }

/********************************* HEADER-2 *********************************/

    .element-header-2{
        display: flex;
        align-items: center;  
        justify-content: flex-end;
    }

        /*MENU*/
        .menu{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
        }

            /*ENLACES*/
            .menu a{
                color: #f2f2f2;
                display: block;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                border-radius: 50px;
            }

            .menu a:hover{
                background: #f56f3a;
            }

 /************************************************* MAIN *************************************************/

 main{
     background-color: #f2f2f2;
 }

 /********************************* MAIN-1 *********************************/

    .element-main-1{
        background-image: url("../image/pc-3.jpeg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 400px;
    }



 /************************************************* FOOTER *************************************************/

 footer{
    background-color: #252932;
    color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/********************************* CONTACTO *********************************/

    .element-footer-1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

        .element-footer-1 section{
            text-align: center;
        }

            .element-footer-1 h2{
                padding: 10px;
                font-size: 30px;
            }

            .element-footer-1 p{
                padding: 5px;
            }

            .mail{
                display: flex;
                flex-flow: column wrap;
            }

                .mail a{
                    text-decoration: none;
                    font-size: 16px;
                    color: #f2f2f2;
                    padding: 5px;
                }

            .redes{
                padding: 20px;
            }

                .redes a{
                    text-decoration: none;
                    font-size: 16px;
                    color: #f2f2f2;
                    padding: 20px 20px;
                }



/********************************* FORMULARIO *********************************/

    .element-footer-1{
            
    }