
/************************************************************ RESETEO DE VALORES ************************************************************/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

/************************************************************ BODY ************************************************************/

body{
    background-color: #f2f2f2;;
}

/************************************************************ CONTAINER ************************************************************/

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:    "header header header"
                            "main main main"
                            "footer footer footer";
                            
}

/************************************************************ HEADER ************************************************************/
    
    .container .header{
        background:#252932;
        color: #fff;
        grid-area: header;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        transition: all 1s ease;
    }

/************************************************************ NOMBRE Y LOGO ************************************************************/
        
        .element-header-1{
            flex: 1 1 auto;
        }

            .element-header-1 img{
                width: 100px;
                vertical-align: top;
            }

            .element-header-1 a{
                color: white;
                text-decoration: none;
                line-height: 100px;
                font-size: 30px;
            }

/************************************************************ MENU ************************************************************/

        .element-header-2{
            flex:  1 1 auto;
        }
            .element-header-2 .menu{
                display: flex;
                flex-flow: column wrap;
                align-content: flex-end;
                width: 100%;
            }

                .element-header-2 .menu ul{
                    display: flex;
                    flex-flow: row wrap;
                }

                    .element-header-2 .menu ul li{
                        list-style: none;
                        flex: 1 1 auto;
                    }

                        .element-header-2 .menu ul li a{
                            color: white;
                            text-decoration: none;
                            padding: 10px;
                            display: block;
                            text-align: center; 
                        }

                        .element-header-2 .menu ul li a:hover{
                            color: #f56f3a; 
                        }

/************************************************************ MAIN ************************************************************/
    .container .main{
        grid-area: main;
        display: grid;
        grid-template-areas:    "img-fixed img-fixed"
                                "about about"
                                "experience experience"
                                "academic academic"
                                "skills skills"
                                "extra extra";
    }


/************************************************************ IMAGEN FIJA ************************************************************/
        
        .main .img-fixed{
            grid-area: img-fixed;
            background-image: url("../image/pc-3.jpeg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 400px;
        }

/************************************************************ SOBRE MI ************************************************************/
        
        .main .about{
            grid-area: about;
            height: 100vh;
            background-color: aquamarine;
        }

/************************************************************ EXPERIENCIA ************************************************************/
        
        .main .experience{
            grid-area: experience;
            height: 100vh;
            background-color: cadetblue;
        }

/************************************************************ FORMACION ************************************************************/

        .main .academic{
            grid-area: academic;
            display: grid;
            grid-template-columns: 50% 50%;
            height: 100vh;
        }
            .academic-text{
                grid-column: 1/2;
                align-self: center;
            }

                .academic-text h2{
                    font-size: 50px;
                    padding: 20px;
                    font-weight: bold;
                    overflow: auto;
                }
        
                .academic-text .inst{
                    font-size: 30px;
                    padding: 20px;
                }
        
                .academic-text .study{
                    font-size: 25px;
                    padding: 20px;
                    font-weight: bold;
                }
        
                .academic-text .date{
                    font-size: 20px;
                    padding: 20px;
                    font-style: italic;
                }   

            .academic-img{
                grid-column: 2/3;
                background-image: url("../image/pc-4.jpeg")
            }
    
/************************************************************ HABILIDADES ************************************************************/

        .main .skills{
            grid-area: skills;
            height: 100vh;
            background-color: blue;
        }

/************************************************************ EXTRA ************************************************************/

        .main .extra{
            grid-area: extra;
            height: 100vh;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }
        
            .extra-frase{
                font-size: 3rem;
                padding: 40px;
                font-family: 'Great Vibes', cursive;
                text-align: center;
            }

            .extra-autor{
                font-size: 2rem;
                padding: 40px;
                font-family: 'Great Vibes', cursive;
                text-align: center;
            }


/************************************************************ FOOTER ************************************************************/

    .container .footer{
        grid-area: footer;
        background:#252932;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "contact form";
    }


/************************************************************ CONTACTO ************************************************************/

        .element-footer-1{
            grid-area: contact;
            padding: 10px;
        }

            .element-footer-1 .section{
                text-align: center;
            }

                .element-footer-1 h2{
                    padding: 10px;
                    font-size: 30px;
                }

                .element-footer-1 p{
                    padding: 5px;
                    font-size: 12px;
                }

                .mail{
                    display: flex;
                    flex-flow: column wrap;
                }

                    .mail a{
                        text-decoration: none;
                        font-size: 12px;
                        color: white;
                        padding: 5px;
                    }

                    .mail a:hover{
                        color: #00aeef; 
                            
                    }

                .redes{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                }

                    .redes a{
                        display: block;
                        text-decoration: none;
                        font-size: 16px;
                        color: white;
                        padding: 10px 20px;
                    }

                    .redes a:hover{
                        color: #00aeef;  
                    }


/************************************************************ FORMULARIO ************************************************************/

.element-footer-2{
    grid-area: form;
    padding: 10px;
}

    form{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 10px;
    }
    
    .element-footer-2 input[type=text], textarea{
        width: 60%;
        padding: 5px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 10px;
        background-color: #252932;
        color: #f2f2f2;

    }

    .element-footer-2 input[type=button] {
        width: 60%;
        padding: 5px;
        margin: 4px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #f2f2f2;
        background-color: #252932;
        color: #f2f2f2;
    }
    .element-footer-2 input[type=button]:hover {
        background-color: #00aeef;
    } 

/************************************************************ MEDIA QUERIES ************************************************************/
